:root{
    /* font size   */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /*    font family*/

    --font-h1: 'Hahmlet', serif;
    --font-movie-title: 'Love Ya Like A Sister', cursive;
    --font-p: 'Montserrat Alternates', sans-serif;

    /*  color */

    --color-gold: #ffd700;
    --color-black: #000000;
    --color-white: #eeeeee;
    --color-light-grey: #7c7979;



    /*    Universal tag -  this will make width and height size same even if adding padding*/
    --box-sizing: border-box

}
/* ideas of css , possibility : */

/* favicon will be a curtain*/
/**/

/*jumbotron background : similar to captured image,  */
/*move the button to middle, add background with golden ticket image */
/*background possible color : burgundy -ishy dark red (similar to curtain color ) + black base..  */
/* each movie poster card will have a background of movie film strip, as :image overlays :bootstrap  opacity down , */
/*buttons inside the card will have design */
/*additional colors will be added to root after set the background ! */





.blackScreen{
    position: fixed;
    content: "";
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 40;
}


#header{
    position: relative;
}
.none{
   transform: translateX(-20px);
    opacity: 0;
    visibility: hidden;
    transition: .3s, visibility 0s .3s, opacity .3s linear;
}
.active{
    transform: translateX(0px);
    visibility: visible;
    opacity: 1;
    transition: .3s, opacity .3s linear;

}
.formBackground{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(90, 90, 90, 0.5);
    z-index: 2;
}
.popup_form{
    background-color: white;
    border: 3px solid black;
    position: fixed;
    top: 200px;
    left: 200px;
    width: 70%;
    height: 570px;
    z-index: 3;

}
