#header{
    position: relative;
}
.none{
   transform: translateX(-20px);
    opacity: 0;
    visibility: hidden;
    transition: .3s, visibility 0s .3s, opacity .3s linear;
}
.active{
    transform: translateX(0px);
    visibility: visible;
    opacity: 1;
    transition: .3s, opacity .3s linear;

}
.popup_form{
    background-color: white;
    border: 3px solid black;
    position: fixed;
    top: 200px;
    left: 200px;
    width: 70%;
    height: 570px;
    z-index: 2;

}